#heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: aliceblue;
    padding:10px;
    text-align: center;
    border-radius: 5px;
    font-weight: 300;
    font-size:xx-large;
    letter-spacing: 2px;
    word-spacing: 5px;
}
#details{
    background-color:cadetblue;
    padding: 20px;
    line-height: 1.5;
    border-radius:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:350;
    font-size: larger;
}
#box1,#box2, #box3{
    border-radius: 5px;
    width: 100%;
    height:20px;;
    border:2px solid
}
button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px cadetblue,
                -6px -6px 12px cadetblue;
   }
   
button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
   button:hover::before {
    width: 9em;
}


.info{
    background-color:black;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    padding: 5px;
    width:100%;
}
.row{
    font-weight: 100;
    text-align: center;

}
